 /* 
 	HEADER STYLES
 */

 .header {
 	background-color: black;
 	height: 70px;
	color: white;
	font-family: 'Oswald', sans-serif;
	overflow: hidden;
 	border-bottom: solid yellow 5px;
 }

 .header__left {
	padding-left: 40px;
	float: left;
	color: yellow;
	font-family: 'Merriweather', serif;
	font-size: 3em;
	margin: 20px 0 0 0;
 }

 .header__nav {
 	display: block;
 	text-transform: uppercase;
 	float: right;
 	color: white;
 }
 
 a:link {
 	color: white;
 	text-decoration: none
 }

 .header__nav--right {
 	float: right;
 	color: white;
	font-size: 2em;
	text-transform: none;
	padding: 25px 40px 0px 0px;
 }

 .header__nav--left {
 	float: right;
 	color: white;
 	word-spacing: 30px;
 	font-size: 2em;
 	padding: 25px 30px 0px 0px;
 }

.header__nav a:hover {
	color: yellow;	
}

.tagline {
	font-family: 'Merriweather', serif;
	text-align: center;
	padding-top: 25px;
	margin: 0;
	font-size: 2.5em;
	line-height: 1em;
	font-style: italic;
	background: #C6C6C6;
	height: 50px;
	border-top: 1px solid #AAA;
}
.tagline del {
	color: #999;
}
.tagline ins {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}

 /*
	LAYOUT STYLES
*/
/*
	row block
*/
.row {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;

	/*min-height: 300px;*/
	/*border: 1px solid red;*/
}

.row__container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;

	box-sizing: border-box;
	/*min-height: 300px;*/
	/*border: 1px solid black;*/
}

/*
	column block
*/

.columns {
	display: flex;
}

.columns__thirds {
	width: 33.33333%;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.15);

	min-height: 300px;
}

.columns__thirds:last-child {
	border-right: 1px solid transparent;
}

/*
	generic flex-box block
*/

.flex-box {
	display: flex;
}

.flex-box--row {
	flex-direction: row;
}

.flex-box--wrap {
	flex-wrap: wrap;
}

.flex-box__end {
	align-self: flex-end;
}

/*
	GENERAL STYLES
*/

html {
	font-size: 10px;
	/*font-family: font-family: 'Source Sans Pro', sans-serif;*/
}

/*
	text-block block
*/

.text-block {
	padding: 20px;
}

.text-block__header {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 5rem;
}

.text-block__content {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
	line-height: 3rem;
}

/*
	button block
*/

.button {
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	padding: 12px;
	background-color: rgb(198,198,198);
	font-family: Oswald, sans-serif;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

